<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\temp\internal-nlog.txt">

    <targets>
        <target name="database" xsi:type="Database"
                dbProvider="Npgsql.NpgsqlConnection, Npgsql"
                connectionString="User ID=postgres;Password=1234;Host=localhost;Port=5432;Database=Log;Pooling=true;">

            <commandText>
                insert into Logs (Application, Logged, Level, Message, Logger, CallSite, Exception)
                values (@Application, @Logged, @Level, @Message, @Logger, @Callsite, @Exception);
            </commandText>

            <parameter name="@application" layout="AspNetCoreNlog" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>

        <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
                layout="${longdate} |${level:uppercase=true}| - ${message}" >
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="database" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>